.vscode
.env
.cursorrules


# Ignore all dotfiles by default
.*

# …except the ones we need
!.gitignore
!.gitattributes
!.dockerignore
!.env.example
!.python-version


__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Poetry / uv / pip
.cache/pip/
.cache/uv/
pip-wheel-metadata/
build/
=
